body{
    position: relative;
}

main{
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg, rgba(68,1,133,1) 0%, rgba(172,2,127,1) 100%);
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

main.sfondo1{
    background: linear-gradient(180deg, rgb(133, 1, 1) 0%, rgb(182, 30, 141) 100%);
}

.grid{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 425px;
    height: 700px;
    display: grid;
    grid-template-columns:100px 100px 100px 100px ;
    gap: 5px;
    background: radial-gradient(circle, rgba(130,141,143,1) 0%, rgba(155,182,214,1) 100%);
    padding: 20px 10px 15px 10px;
    border: 5px outset #A4A4A4;
    /* position: absolute; */
    /* top: 100px; */
    /* left: 38%;  */
}

.grid.stile{
    border-radius: 20%;
    background: radial-gradient(circle, rgb(9, 16, 17) 0%, rgb(2, 49, 16) 100%);
    gap: 7px;
    overflow: hidden;
    padding: 0;
    padding-left: 5px;
    border: 5px solid #A4A4A4
}

.grid.pos{
    position: absolute;
    left: 0;
}
.grid.pos2{
    position: absolute;
    right: 0;
}

.ac{
    
    grid-column-start: 1;
    grid-column-end: 5;
}

.num{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 5px outset #A4A4A4;
    cursor: pointer;
    background: radial-gradient(circle, rgba(130,141,143,1) 0%, rgba(155,182,214,1) 100%);

    }
    .num:active{
        border: 5px inset #A4A4A4;
    }


    /* .bordo{ animation-name: bordo;
        animation-duration:0.3s;
        animation-iteration-count: 1;
         } */
/* 
@keyframes bordo{
    from {
        border: 5px inset #A4A4A4;
    }
    to {
        border: 5px outset #A4A4A4;
    }
  }  */

.display{
    
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #abcf55;
    border: 5px inset #A4A4A4;
    text-align: right;
}

/* #rgb{
    height: 50px;
} */


.raimbow{
   animation: party 3s infinite;

}

.raimbow1{
    animation: party1 3s infinite;
}

@keyframes party{
    0% {background: red; box-shadow: 0px 0px 12px 1px #FF0000;}
    10% {background: orange; box-shadow: 0px 0px 12px 1px orange;}
    20% {background: yellow; box-shadow: 0px 0px 12px 1px yellow;}
    30% {background: green; box-shadow: 0px 0px 12px 1px green;}
    40% {background: blue; box-shadow: 0px 0px 12px 1px blue;}
    50% {background: purple; box-shadow: 0px 0px 12px 1px purple;} 
    60% {background: red; box-shadow: 0px 0px 12px 1px #FF0000;}
    70% {background: orange; box-shadow: 0px 0px 12px 1px orange;}
    80% {background: yellow; box-shadow: 0px 0px 12px 1px yellow;}
    85% {background: green; box-shadow: 0px 0px 12px 1px green;}
    93% {background: blue; box-shadow: 0px 0px 12px 1px blue;}
    100% {background: purple; box-shadow: 0px 0px 12px 1px purple;} }

    @keyframes party1{
    0% { box-shadow: 0px 0px 30px 1px #FF0000;}
    10% { box-shadow: 0px 0px 30px 1px orange;}
    20% { box-shadow: 0px 0px 30px 1px yellow;}
    30% { box-shadow: 0px 0px 30px 1px green;}
    40% { box-shadow: 0px 0px 30px 1px blue;}
    50% { box-shadow: 0px 0px 30px 1px purple;} 
    60% { box-shadow: 0px 0px 30px 1px #FF0000;}
    70% { box-shadow: 0px 0px 30px 1px orange;}
    80% { box-shadow: 0px 0px 30px 1px yellow;}
    85% { box-shadow: 0px 0px 30px 1px green;}
    93% { box-shadow: 0px 0px 30px 1px blue;}
    100% { box-shadow: 0px 0px 30px 1px purple;} 
}



#menu{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#apri-menu{
   display: none;
}

input:checked + #menu{
    height: 210px;

}


/* La pagina è resposiva sia in mobile che in desktop*/

