h1{
    font-size: 3em;
    font-weight: bold;
}

#muro{
    height: 100%;
   width: 100%;
    background-image: url(sfondo/81p05eM68hL._AC_SY355_.jpg);
   
   
    
}

#muro {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    
  justify-content: space-evenly;
   
   
  }

.post-it{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 10%;
    margin: 2em;
    width: 15vw;
    height: 300px;
    box-shadow: 5px 9px 18px 1px #000000;
    transition: transform: 3s ease;

}

.giallo{
    background: rgb(213,227,90);
    background: linear-gradient(127deg, rgba(213,227,90,1) 0%, rgba(182,176,41,1) 52%, rgba(237,255,0,1) 100%); 
    transform: rotate(7deg);
}

.verde{
    background: rgb(99,227,90);
background: linear-gradient(127deg, rgba(99,227,90,1) 0%, rgba(233,225,33,1) 44%, rgba(45,255,0,1) 100%);
transform: rotate(-12deg);
}

.viola{
    background: rgb(121,63,184);
background: radial-gradient(circle, rgba(121,63,184,1) 0%, rgba(164,82,238,1) 100%);
transform: rotate(12deg);

}

.post-it:hover{
    transform: rotate(0deg);
    transform: scale(1.2);
    z-index: 1;
}


