#titcontatti {
    text-align: center;
    margin-top: 50px;
}

#contatti #contatti-in #titcontatti hr {
    color: black;
}


#contatti {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px 5% 0px 5%;
}

#contatti span {
    color: rgb(255, 60, 0);
}

#contatti h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

#titcontatti span {
    font-size: 2rem;
}

#contatti-in hr {
    height: 1px;
    border-width: 2;
    background-color: black;
    margin-bottom: 20px;
}

#contatti-in input {
    width: 97%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 15px;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
}

#contatti-in textarea {
    text-align: left;
    width: 97%;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid lightgray;
    font-size: 0.7rem;
    color: gray;
    padding: 15px;
}

#contatti-in form {
    width: 100%;
}

#contatti-in {
    text-align: center;
    padding-bottom: 100px;
}

#contatti-in h3 {
    text-align: left;
}

#contatti-in button {
    margin-top: 20px;
    padding: 15px 120px;
    border: 0;
    background-color: rgb(255, 60, 0);
    color: white;

}

#contatti-in button:hover {
    cursor: pointer;
    background-color: red;
}

#contact-info {
    margin-bottom: 70px;
}

#contatti h3 {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

#photo-stream h3 {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
}


#photo-stream img {
    margin-right: 15px;
}

#contact-info i {
    margin-right: 20px;
}

#contatti-out {
    display: flex;
    justify-content: center;
    line-height: 1.2rem;
}

#contatti-out p {
    font-size: 0.7rem;
}

@media screen and (min-width:1200px) {
    #contatti {
        display: flex;
        flex-direction: column;

    }

    #contatti-out {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;
    }

    #contact-info {
        margin-right: 10vw;
    }

    #blog-posts {
        padding-left: 40px;
        padding-right: 40px;
    }

    #stream-us {
        margin-left: 10vw;
    }

    footer {
        margin-top: 100px
    }

    #contatti-in button {
        float: right;
    }
}

#follow-us {
    display: flex;
    flex-direction: column;
}

#gruppo-icone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fa-twitter,
.fa-facebook-f,
.fa-basketball-ball,
.fa-behance {}

#ico-twitter,
#ico-fb,
#ico-browser,
#ico-behance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    /* padding: 10px; */
    background-color: rgb(169, 169, 169);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: 0.3s;
}

#ico-twitter:hover,
#ico-fb:hover,
#ico-browser:hover,
#ico-behance:hover {
    background-color: rgb(255, 60, 0);
    cursor: pointer;

}

.contact-us,
#fname,
#contattate,
#mailaddress,
#recensione,
.bottone3 {
    opacity: 0;
}

#contact-info,
#blog-posts,
#stream-us {
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    #contatti {
        display: flex;
        flex-direction: column;

    }

    #contatti-out {
        display: flex;
        flex-direction: row;
    }

    #blog-posts {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contatti-in button {
        float: right;
    }




}

/*@media screen and (min-width:992px) {
    #contatti {
        /* height: 610px; 
    }
}*/


@media screen and (max-width: 992px) {

    #contatti {
        height: 1150px;
    }

    #contatti-out {
        display: flex;
        flex-direction: column;
    }

    #blog-posts {
        padding-left: 0px;
        padding-right: 0px;
    }

    #contatti-in button {
        float: none;
    }

    #cont-info {
        display: flex;
        flex-direction: row;
    }


}

@media screen and (max-width: 768px) {
    #contatti {
        display: flex;
        flex-direction: column;
        height: 1320px;
    }

    #contatti-out {
        display: flex;
        flex-direction: column;
    }

    #cont-info {
        display: flex;
        flex-direction: column;
    }

}